body {
    font-family: 'montserrat', sans-serif; /* Use Montserrat as the font for the body */
    background: #90ccd9;
    color: white;
}

h1, h2, h3, h4 {
    font-family: 'montserrat', monospace; /* Use Roboto as the font for the headings */
}

.container {
    margin: 0 auto;
    max-width: 840px;
    padding-top: 60px;
}

.container > div {
    margin: 20px auto;  /* Add margin to the divs inside the container */
}

.intro {
    text-align: center; /* Align the text to the center */
}

.about-grid {
    display: grid;  /* Use grid to create a grid layout */
    grid-template-columns: 50% 50%;  /* Use 50% twice for equal size for columns both columns  */
}

.i-am, .i-like {
    text-align: center;
}

.about-list {
    text-align: center;
    list-style: none;   /* Remove the bullet points from the list */
}


.projects-heading {
    text-align: center;
}

.project-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.project-image-wrapper {    
    justify-self: center;   /* Align the image to the center */
    padding: 4%;
    position: relative;
}

.project-image {
    border-radius: 5px; 
    box-shadow: 0 4px 6px 0 rgba(34, 60, 80, 0.16);
    transition: all ease-in-out .2s;
}

.project-image:hover {
    filter: brightness(.75); /* Change the brightness on hover */
    box-shadow: 0 8px 12px 0 rgba(34, 60, 80, 0.16);
}

.project-image-wrapper:hover > h4 {
    visibility: visible; /* Show the project name on hover */
}

.project-image-wrapper > h4 {   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    visibility: hidden;
    z-index: 2;
    transition: all ease-in-out .2s;
}


.links-and-contact {
    display: grid; /* Use grid to create a grid layout */
    grid-template-columns: 30% 70%;
}

.links {
    justify-self: center;
}

.links-list {
    list-style: none;  /* Remove the bullet points from the list */
    padding: 0;
}


.profile-picture {
    border-radius: 25%; /* Make the image round */
    width: auto;
    height: 150px;
    box-shadow: 0 4px 6px 0 rgba(34, 60, 80, 0.16); /* Add a shadow to the image */
    transition: all ease-in-out .2s; /* Add a transition effect to the image */
}

.profile-picture:hover {
    box-shadow: 0 14px 24px 0 rgb(34, 60, 80, 0.16); /* Change the shadow on hover */
}

form input, textarea {
    padding: 5px;
    border-radius: 5px;
    width: 240px;
}

form input[type="submit"] {
    width: 250px;

}

.submit-button-wrapper {
    margin: 20px 0;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));   /* Add a gradient to the hr going from transparent to black to transparent*/
}

.awards-title {
    text-align: center;
}

.certification-title {
    text-align: center;
}

.accomplishments {
    text-align: center;
}

.accomplishment-list-item {
    list-style-type: none; /* Remove the bullet points from the list */
}

.research-club {
    text-align: center;
}

.research-list-item {
    list-style-type: none; /* Remove the bullet points from the list */
}

.personal-interest {
    text-align: center;
}


.personal-list-item {
    list-style-type: none; /* Remove the bullet points from the list */
}   

.current-ventures {
    text-align: center;
}

.current-ventures-list {
    text-align: center;
}

.current-ventures-list-item {
    list-style-type: none; /* Remove the bullet points from the list */
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 20px;
}

.navbar.active {
    display: none;
}

.navbar-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-list li {
    display: inline;
    margin-right: 20px;
}

.navbar-list li a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.navbar-list li a:hover {
    background-color: #575757;
}

.menu-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1001;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.menu-button:hover {
    background-color: #575757;
}

@media (max-width:650px) {
    .links-and-contact {
        grid-template-columns: 100%;
    }
    .project-grid {
        grid-template-columns: 100%;
    }

}

@media (max-width: 480px) { /* Apply the following styles for screens less than 480px */
    .navbar-list {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-list li {
        margin-bottom: 10px;
    }

    .about-grid {
        grid-template-columns: 100%;   /* Use 100% for a single column layout */
    }
}
